<!DOCTYPE html>
<html>
    <head lang="en">
        <title>Java Conference</title>
        <!--/*/ <th:block th:include="fragments/globalHeader :: head"></th:block> /*/-->
    </head>
    <body>
        <div class="container">

            <!-- insert nav fragment here -->
            <!--/*/ <th:block th:include="fragments/globalHeader :: nav"></th:block> /*/-->
            <!-- insert eventsTable fragment here -->
            <!--/*/ <th:block th:include="fragments/eventsTable :: eventsTable"></th:block> /*/-->

        </div>
    </body>
</html>